name: ci

on: [push, pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  build_linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler:
          - gcc:15
          - clang:21
    container:
      image: "registry.gitlab.com/offa/docker-images/${{ matrix.compiler }}"
    name: "${{ matrix.compiler }}"
    steps:
      - uses: actions/checkout@main
      - name: Build
        run: script/ci_build.sh


  build_windows:
    runs-on: windows-latest
    name: "MSVC"
    steps:
      - uses: actions/checkout@main
      - name: Setup Ninja
        uses: turtlesec-no/get-ninja@3e85fb0044ada1440765803dd87c838edf79def8
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756
      - name: Build
        run: script/ci_build.sh
        shell: bash


  formatting-check:
    name: "formatting"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: jidicula/clang-format-action@fbffc273a6218b1121733490c1e8c3773f96e8fd
      name: "Verify formatting"
      with:
        clang-format-version: 19

